body {
    background-color: black;
    height: 650px;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,p {
    color: white;
}

header a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

main {
   display: block;
   text-align: center; 
}


footer {
    display: flex;
   justify-content: center;
   padding-top: 630px;
}

@media(max-width:390px) {
    header {
        flex-direction: column;
    }
}